<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests">
    <listeners>
        <listener class-name="com.digital.Listener.ScreenshotListener"></listener>
    </listeners>

    <test name="Regression Tests">
        <classes>
            <class name="DemoqaTest.ui.elementsPageTest.TextBoxtTest"></class>
        </classes>
    </test>

</suite>